{% extends "layout.html" %}

{% block content %}
    
    <h2>New Book Form</h2>

    <a href="/books">Book Survey</a>

    <p>Enter your favorite book...</p>

    <form action="/books/create" method="POST">

        <label>Title:</label>
        <input type="text" name="title" placeholder="A Study in Scarlet" value="A Study in Scarlet">

        <label>Author:</label>
        <input type="text" name="author" placeholder="Arthur Conan Doyle" value="Arthur Conan Doyle">

        <button>Submit</button>
    </form>

{% endblock %}